@import '../styles/_mixin';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.6;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
  overflow: hidden;
  position: relative;
  z-index: -10;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Noto Serif KR', serif;
  padding: 4px 0;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
textarea,
select,
option,
button,
label {
  font-size: 100%;
}

img {
  display: block;
}



// common area
.pageHeader {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  header {
    @include layout-center;
    @include flex-between;
    height: 30px;

    h1 {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;

      span {
        @include flex-center;

        svg {
          width: 40px;
          font-size: 30px;
        }
      }
    }
  }
}

.page {
  width: 100vw;
  height: calc(100vh - 150px);
  position: fixed;
  top: 70px;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;


  h3,
  h4,
  p,
  ol,
  code,
  .img-box {
    @include layout-center;
  }

}

.pageNavigation {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  nav {
    @include layout-center;
    @include flex-between;

    button {
      width: 25%;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 40px;
    }
  }
}

.nextjs-toast {
  display: none !important;
}