@import './_mixin';
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

body {
  background-color: var(--bg-color);
  font-size: 16px;
  line-height: 20px;
  overflow-x: hidden;
  font-family: 'Noto Sans Kr', sans-serif;
  position: relative;
  z-index: -10;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    font-weight: 700;

    span {
      font-weight: 300;
    }
  }

  p {
    font-family: 'Noto Serif KR', serif;

  }
}

.pageHeader {
  background-color: var(--bg-color);
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.page {
  padding: 64px 0;

  nav {
    width: 90%;
    margin: 0 auto;

    h3 {
      font-size: 20px;
      line-height: 48px;
      padding-top: 6px;
      display: flex;
      align-items: center;

      svg {
        width: 30px;
        font-size: 24px;
      }
    }

    h4 {
      color: #999;
      font-size: 18px;
      line-height: 48px;
      padding-top: 6px;
      display: flex;
      align-items: center;

      svg {
        width: 30px;
        font-size: 16px;
      }
    }



    .global-nav_list {
      li {
        font-size: 18px;
        line-height: 48px;
        padding-left: 30px;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.pageNavigation {
  background-color: var(--bg-color);
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}