@import '../styles/_mixin';
@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

body {
  background-color: var(--bg-color);
}

.pageHeader {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  header {
    @include layout-center;
    @include flex-between;
    height: 30px;

    h1 {
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;

      span {
        @include flex-center;

        svg {
          width: 40px;
          font-size: 30px;
        }
      }
    }
  }
}

.page {
  width: 100vw;
  height: calc(100vh - 150px);
  position: fixed;
  top: 70px;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;

  section {
    @include layout-center;
  }
}

.pageNavigation {
  background-color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  nav {
    @include layout-center;
    @include flex-between;

    button {
      width: 25%;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 40px;
    }
  }
}